*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.right{
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
}
.imgSmall{
    margin: 5px;
    width: 15%;
    height: 30%;
    cursor: pointer;
    padding: 4px;
    border-radius: 6px;
}


.left{
    width: 40%;
}
.previewImg{
    width: 100%;
    margin-top: 50px;
    /* margin-right: 50px; */
}
.heading{
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -2px;
}
.heading2{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.value{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.Rs{
    color: #009688;
    font-weight: bold;
}
.desc{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.para{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    color: #86939e;
}
.prev{
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
}
.smallImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 20px;
}
.cartBtn{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}
.btn{
    margin-top: 50px;
}

.active{
    outline: 2px solid #009688;
    outline-offset: 3px;
    border-radius: 2px;
}


@media screen and (max-width: 768px) {
body {
    display: flex;
    flex-wrap: wrap;
}
.left {
    width: 100%;
}
.right {
    width: 100%;
    margin-top: 40px;
    padding-left: 30px;
}
.left img {
    margin-top: 30px;
}
.heading {
    font-size: 34px;
}
.heading2 {
    font-size: 14px;
}
.value {
    font-size: 17px;
}
.para {
    font-size: 14px;
}
}